storage:
  dbPath: /var/lib/mongodb

systemLog:
  destination: file
  path: /var/log/mongodb/mongod.log
  logAppend: true

net:
  port: 27017
  bindIp: 127.0.0.1,{{ ansible_default_ipv4.address }}

processManagement:
  timeZoneInfo: /usr/share/zoneinfo

security:
  authorization: enabled