[defaults]
inventory = inventory.ini
roles_path = ./roles
host_key_checking = False #Disables host key prompts for the assignment
remote_user = ubuntu
private_key_file = ~/.ssh/travel-key.pem
retry_files_enabled = False
timeout = 30

[ssh_connection]
pipelining = True
